p{
    text-align: center;
    font-size: 28px;
    /*wena perro*/
}
#mequieromatar{
    color: rgb(134, 10, 172);
    margin :100px;
    border: 20px solid;
    border-color: darkviolet;
}
.ñ{
    text-align: right;
}