p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: inherit;
}
.letra{
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.titulo{
    color: rgb(190, 125, 40);
    margin :1px;
    border: 10px solid;
    border-color: rgb(11, 124, 139);
    background-color:rgb(11, 124, 139);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}
.back{
    color:rgba(255, 123, 0, 0.836);
    margin: 1px;
    border: 10px solid;
    border-color: rgb(11, 124, 139);
    background-color:rgb(11, 124, 139);
}
body {
    background-color: #aee8f9;
    opacity: 1;
    background-image:  radial-gradient(#26baff 0.5px, transparent 0.5px), radial-gradient(#26baff 0.5px, #aee8f9 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
  }